body {
    padding-top: 80px;
}

.clearfix {
    clear:both;
}
.panel-default-outline .panel-heading {
    border-bottom: 1px solid #eee;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav .gravatar {
    width: 20px;
}